<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Benvenuto in Ansible!</title>
</head>
<body>
    <h1>Questo NGINX è stato configurato grazie ad Ansible</h1>
    <p>Se vedi questo messaggio tutto è andato bene!</p>
    <p>In funzione su {{ inventory_hostname }}</p>
</body>
</html>
